@import "./color.scss";

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    height: 80vh;
    width: 100vw;
    gap: 0.3em;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "inp inp inp inp"
    "res res res div"
    "sev eigh nine mult"
    "four five six subt"
    "one two three addi"
    "zer zer dec equ";
    background-color: #0D1317;
    padding: 0.5em;
}

input {
    background-color: $backcolor;
    border: none;
    color: $textcolor;
}

button {
    border-radius: 5%;
    font-size: 5em;
    border: none;
}

.opcolor {
    background-color: $opcolor;
}

.rescolor {
    background-color: $rescolor;
}


input {
    grid-area: inp;
    text-align: right;
}

#reset {
    grid-area: res;
}

#decpoint {
    grid-area: dec;
}

#addition {
    grid-area: addi;
}

#subtraction {
    grid-area: subt;
}

#muliplication {
    grid-area: mult;
}

#division {
    grid-area: div;
}

#equal {
    grid-area: equ;
}

#num-1 {
    grid-area: one;
}

#num-2 {
    grid-area: two;
}

#num-3 {
    grid-area: three;
}

#num-4 {
    grid-area: four;
}

#num-5 {
    grid-area: five;
}

#num-6 {
    grid-area: six;
}

#num-7 {
    grid-area: sev;
}

#num-8 {
    grid-area: eigh;
}

#num-9 {
    grid-area: nine;
}

#num-0 {
    grid-area: zer;
}